html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  background-color: #eeeeee;
  color: #42464d;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
/* panelMneu estilos */
.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  background-color: #0060b1;
  border: #0060b1;
}
.p-panelmenu
  .p-panelmenu-header
  .p-panelmenu-header-content
  .p-panelmenu-header-action {
  color: white;
}

.p-panelmenu .p-panelmenu-content {
  padding: 0.25rem 0;
  border: 1px solid #0060b1;
  background: #0060b1;
  color: #ffffff;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content {
  background: #0060b1;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  background-color: #07508c;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  color: white;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon {
  color: white;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: white;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: white;
}

@media screen and (max-width: 600px) {
  .col50 {
    float: none;
    width: auto;
  }
}
